.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(3, 0, 48);
  height: 50px;
  border-radius: 15px;
  margin: 5px 32px 20px;
}

.navBar {
  display: flex;
  gap: 15px;
}
