.searchForm {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 60px;
  margin: 20px auto;
  padding: 0 5px;
  gap: 18px;
  border-radius: 12px;
  box-shadow: 0 11px 34px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(3, 0, 48);
  /* transition: all 250ms ease-in; */
}

.searchForm input {
  color: black;
  background: white;
  width: 380px;
  height: 50px;
  border-radius: 12px;
  border: 2px solid #838282;
  padding: 5px;
  text-align: center;
}

.searchForm input:hover,
.searchForm input:focus,
.searchForm input:active {
  border: 2px solid #1825e0;
  outline-style: none;
}

.button {
  height: 50px;
  border-radius: 12px;
}

.errorWrapper {
  position: absolute;
  top: 100%;
}

.message {
  color: red;
}
