ul {
  list-style-type: none;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.listItem {
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
}

.itemBox {
  display: flex;
  background-color: rgb(3, 0, 48);
  color: aliceblue;
}

.infoBox {
  display: flex;
}

img {
  width: 80px;
  border-radius: 8px;
}

.movieList {
  margin: 0 32px;
  padding: 0;
}
